.prop-container
  padding: 1.5rem

.prop-wrapper
  margin-left: auto
  margin-right: auto
  max-width: 1080px
  padding: 0 2.5rem

.off-white
  background: #eee

.center-content
  text-align: center

.icon-bedrooms
  max-width: 40px   
  content: url('../../images/icons/propview-bed-icon.png')

.icon-baths
  max-width: 25px   
  content: url('../../images/icons/propview-bathroom-icon.png')

.icon-sqrft
  max-width: 25px   
  content: url('../../images/icons/propview-squarefeet-icon.png')