// Styling for the search bar components
.search-bar-container
  display: flex
  justify-content: flex-start
  background: rgba(0, 0, 0, 0.75)
  margin: 0.5rem 0
  border: 2px solid #eee
  border-radius: 3px


.search-address
  background: transparent
  flex-grow: 1
  border: none
  padding: 0.75rem 0.5rem
  color: #eee
  font-size: 1.25rem

// Search bar button
.search-address-button
  background: #E86919
  width: 100px
  border: none
  border-left: 2px solid #eee
  transition: 0.2s
  cursor: pointer

  img
    max-width: 40%

  &:hover
    background: #cb5c18

@media only screen and(max-width: 1400px)
  .search-address-button
    width: 80px

  .search-address
    font-size: 1rem

@media only screen and(max-width: 992px)
  .search-address-button
    width: 60px

  .search-address
    font-size: 0.875rem
