.landing {
  min-height: 470px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center/cover;
  background-image: url("../../images/landing/propview-landing-default.jpeg"); }
  .landing .search-user-location-button {
    margin: 0 auto; }

.landing-1 {
  background-image: url("../../images/landing/propview-landing-1.jpeg"); }

.landing-2 {
  background-image: url("../../images/landing/propview-landing-2.jpeg"); }

.landing-3 {
  background-image: url("../../images/landing/propview-landing-3.jpeg"); }

.landing-4 {
  background-image: url("../../images/landing/propview-landing-4.jpeg"); }

.landing-5 {
  background-image: url("../../images/landing/propview-landing-5.jpeg"); }

.landing-6 {
  background-image: url("../../images/landing/propview-landing-6.jpeg"); }

.landing-7 {
  background-image: url("../../images/landing/propview-landing-7.jpeg"); }
