.prophead-masthead-container {
  position: relative;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .prophead-masthead-container .prophead-masthead-wrapper {
    background: linear-gradient(20deg, black 0%, rgba(0, 0, 0, 0) 25%), linear-gradient(160deg, black 0%, rgba(0, 0, 0, 0) 20%);
    height: 38rem;
    padding: 1.5rem; }

.prophead-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right; }
  .prophead-search-container .search-user-location-button {
    margin-right: 0.5rem;
    padding: 0.575rem;
    border: 0.125rem solid #eee; }
    .prophead-search-container .search-user-location-button img {
      max-width: 1.8rem; }
  .prophead-search-container .search-address {
    width: 300px;
    margin-left: 0.5rem;
    padding: 0.875rem 0.5rem;
    font-size: 0.875rem; }

.prophead-logo {
  max-width: 15rem;
  cursor: pointer; }

.prophead-info-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 7.5rem;
  padding: 1.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); }
  .prophead-info-container h3 {
    color: #eee;
    font-size: 1.75rem;
    line-height: 1.25; }

.prophead-info-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 1rem; }
  .prophead-info-details .prophead-info-dot-spacing {
    font-size: 1rem;
    color: #eee;
    margin: 0 0.5rem; }
  .prophead-info-details li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    margin: 0 0.125rem; }
    .prophead-info-details li p {
      font-size: 1.125rem;
      color: #eee;
      margin: 0 0.5rem; }

.icon-bedrooms {
  max-width: 40px;
  content: url("../../images/icons/propview-bed-icon.png"); }

.icon-baths {
  max-width: 25px;
  content: url("../../images/icons/propview-bathroom-icon.png"); }

.icon-sqrft {
  max-width: 25px;
  content: url("../../images/icons/propview-squarefeet-icon.png"); }
