.prop-container .seperator-container h2 {
  margin-bottom: 0; }

.prop-container .orange-line-accent {
  width: 100%;
  height: 0.2rem;
  background: #E86919; }

.prop-container:after {
  content: "";
  display: table;
  clear: both; }

.propover-map {
  display: block;
  float: right;
  background: url("../../images/propview-loader.gif") no-repeat center/contain;
  margin-left: 1.5rem;
  height: 350px;
  width: 40%;
  border: 5px solid #333;
  box-shadow: 1px 1px 4px #333; }
