.propvalue-img {
  max-width: 6rem; }

.margin-bottom {
  margin-bottom: 2rem; }

.propvalue-title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  color: #E86919; }

.propvalue-value-container {
  display: inline-block;
  padding: 0.25rem 2rem;
  border: 2px solid #333; }
  .propvalue-value-container p {
    letter-spacing: 2px;
    font-weight: medium;
    font-size: 1.75rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

.propvalue-subtitle {
  font-size: 0.875rem;
  font-weight: regular;
  font-style: italic; }

.table-sale-history {
  margin-right: auto;
  margin-left: auto;
  border-spacing: 5rem 1rem;
  border-collapse: separate;
  text-align: left; }
  .table-sale-history div {
    border: solid 2px #333;
    width: 100%; }
  .table-sale-history th {
    font-size: 1.25rem;
    font-weight: bold; }
  .table-sale-history td:nth-child(1) {
    font-weight: bold; }
